.container {
    color: white;
    min-height: 200px; 
    margin: 10px;
}

.div-grid {
    display: grid;
    grid-template-columns: (6, 1fr);
    grid-template-row: auto;
    grid-template-areas: 
        "blue blue red red green green"
        "yellow yellow yellow purple purple purple"
    ;
}

#blue {
    background-color: blue;
    grid-area: blue;
}

#red {
    background-color: red;
    grid-area: red;
}

#green {
    background-color: green;
    grid-area: green;
}

#yellow {
    background-color: yellow;
    grid-area: yellow;
}

#purple {
    background-color: purple;
    grid-area: purple;
}