/* OOCSS */
/* SKIN */

.theme-light {
    color: slategray;
    background-color: lightgoldenrodyellow;
    border: 1px solid navy;
}

.theme-success {
    background-color: greenyellow;
}

.theme-fail {
    background-color: lightcoral; 
}

/* ESTRUTURA */

body {
    width: 350px;
    margin: 0 auto;
}

header {
    text-align: center;
}

.card {
    max-width: 350px;
    padding: 10px; 
}

.description {
    text-align: center;
}

.image {
    max-width: 300px;
    margin-left: 20px;
}

.btn-container {
    margin: 5px 0px 5px 20px;
    align-items: center;
}

button {
    padding: 5px;
}